.navbar {
    background: var(--primary-color);
    position: absolute !important;
    top: 0 !important;
}

.navbar.sticky {
    background: var(--primary-color);
    position: absolute !important;
    top: 0 !important;
}