@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
@import url('https://fonts.cdnfonts.com/css/finance');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=PT+Sans:ital,wght@0,700;1,400&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Raleway:wght@400;500&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: white
}

/* header,
section {
  overflow-x: hidden;
} */



:root {
  --primary-font-header: 'Playfair Display', serif;
  --secondary-font-header: 'Open Sans', sans-serif;
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --light-blue: #2681e9;
  --dark-blue: #1b3cbf;
  --bggradient: linear-gradient(to bottom, var(--light-blue), var(--dark-blue));
  --light-gray: rgba(255, 255, 255, 0.877);
  --section-gap: 5rem;
  --height-nav-header: 31rem;
  --height-navbar: 5rem;
  --height-section-2: 20rem;
  --primary-color: #124882;
  --secondary-color: #5cb3ff14;
}

/* LAPTOP & TABLET*/
@media (min-width:473px) {
  :root {
    --font-size-header-title: 43px;
    --font-size-header-description: large;
  }
}


/* PHONE */
@media (max-width:473px) {
  :root {
    --font-size-header-title: 8vw;
    --font-size-header-description: 4vw;
  }

  header {
    height: 100vh;
  }

  .nav-header-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:5rem
  }

  .buttons-container{
    flex-direction: column;
  }

}

.site-width {
  width: 76%;
}

/********* incoming animation *********/

.hidden {
  visibility: hidden !important;
}

.left-in {
  animation-name: slideInLeft;
  animation-duration: 1.5s;
}

.right-in {
  animation-name: slideInRight;
  animation-duration: 1.5s;
}

.up-in {
  animation-name: slideInUp;
  animation-duration: 1.5s;
}

.down-in {
  animation-name: slideInDown;
  animation-duration: 1.5s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/********* header *********/

header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  color: white;
  text-shadow: 1px 1px 2px rgb(68, 68, 68);
  padding-left: 1rem;
}

.navbar-background {
  background-color: var(--light-blue);
  z-index: 1;
}

.hamburger-button {
  font-size: 200%;
  cursor: pointer;
  color: white;
}

nav .navbar-place-holder {
  height: var(--height-navbar);
}

nav .navbar {
  padding: 0.5rem 5%;
  z-index: 6;
  width: 100%;
  height: var(--height-navbar);
  top: 0;
  position: absolute;
}

.nav-button{
  font-family: 'Varela', sans-serif;
  font-size: 0.9em;
  color: whitesmoke;
  font-weight: 600;
  margin: 0.9em 0;
  padding: 0 0.9rem;
  width: fit-content;
}

.nav-button:hover{
  color: whitesmoke;
}

nav .nav-item {
  padding: 0.9em;
}

.nav-header-background {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.offcanvas {
  width: 35vw;
  position: fixed;
  top: 0;
  right: -35vw;
  height: 100vh;
  background-color: #0c4a8c;
  padding: 10px;
  z-index: 1041;
  overflow-x: hidden;
  transition: right 0.5s;
  display: none;
}

.show-div{
  display: block !important;
}

.offcanvas #close-offcanvas{
  float:right;
  cursor: pointer;
  font-size: 120%;
  color: whitesmoke;
  margin-right: 0.5rem;
}

.offcanvas.show {
  right: 0;
}

.nav-header-background .blue-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  background: rgba(8, 35, 100, 0.5);
  /*clip-path: ellipse(100% 106% at 0% 100% );*/
}

.nav-header-background .city-image {
  background-image: url(../images/building.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.nav-header-info {
  width: 100%;
  position: relative;
  z-index: 2;
  box-shadow: inset 0 -10px 10px -2px rgba(0, 0, 0, 0.5);
  flex: 1;
}

.nav-header-info .col-header {
  height: 100%;
  padding-bottom: 2rem;
  align-items: self-start;
  display: flex;
  flex-direction: column;
}

.header-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cut-out {
  position: absolute;
  clip-path: ellipse(100% 100% at 100% 100%);
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  background: rgba(8, 48, 100, 0.69);
}

.buttons-container {
  align-content: center;
  z-index: 4;
  margin-top: 4.5rem;
  display: flex;
  gap: 3rem;
}

.nav-header-info .container-fluid .col-header h1 {
  font-family: var(--primary-font-header);
  font-weight: bold;
  padding: 0.1em 0.2em;
  font-size: var(--font-size-header-title);
}

.nav-header-info .container-fluid .col-header p {
  font-family: var(--secondary-font-header);
  font-size: var(--font-size-header-description);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 2.5rem;
  text-align: left;
  border-radius: 10px;
  max-width: 1100px;
}


.header-button-learn {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 700ms cubic-bezier(.23, 1, 0.32, 1);
  padding: 12px 14px;
}

.header-button-learn:hover {
  text-shadow: rgba(0, 0, 0, 0.5) 0 8px 15px;
  transform: translateY(-2px);
  outline: none;
  box-shadow: none;
}

.header-button-learn:active {
  color: white;
  text-shadow: none;
  transform: translateY(0);
  outline: none;
  box-shadow: none;
}

.header-button-contact {
  background-color: #0c4a8c;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  touch-action: manipulation;
  font-family: 'Heebo', sans-serif;
  border-radius: 5px;
  transition: all 700ms cubic-bezier(.23, 1, 0.32, 1);
  padding: 12px 18px;
  align-self: center;
}

.header-button-contact:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.header-button-contact:active {
  box-shadow: none;
  transform: translateY(0);
}

/* underline animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  background: var(--primary-color);
  z-index: 9999;
  transition: all 0.5s ease-in-out;
}

/********* section 1 *********/

.section-1 {
  margin: var(--section-gap) 0vmin;
}

.section-1 .container-fluid {
  display: flex;
  gap: 5rem;
  padding: 2rem 0rem;
}

.feature-card {
  /*background-color: #0796ff1a;*/
  background-color: #077fff21;
  box-shadow: 15px 15px 0px var(--secondary-color);
  width: 30%;
  padding: 1rem;
  transition: all 300ms ease;
  border-radius: 5px;
  display: flex;
}

.feature-card:hover {
  box-shadow: 30px 30px 0px var(--secondary-color);
  transform: translateY(-10px);
}

.feature-card-content {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.feature-card-content::before,
.feature-card-content::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  border: 2px solid var(--primary-color);
  transition: all 300ms ease;
}

.feature-card:hover .feature-card-content::before,
.feature-card:hover .feature-card-content::after {
  width: 2em;
  height: 2em;
}

.feature-card-content::before {
  top: -2px;
  left: -2px;
  border-right: none;
  border-bottom: none;
}

.feature-card-content::after {
  bottom: -2px;
  right: -2px;
  border-left: none;
  border-top: none;
}

.feature-icon {
  width: 4rem;
  filter: hue-rotate(344deg);
}

.feature-title {
  font-size: 18px;
  font-weight: 700;
  font-family: Arial, sans-serif;
  color: #36588ced;
}

.feature-description {
  font-size: 15px;
  color: #27304bb5;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

/********* section 2 *********/

/* .section-2{
  background-color: #1f65ac;
  box-shadow: 
    inset 0 -22px 22px -16px rgba(0,0,0,0.5), 
    inset 0 22px 22px -16px rgba(0,0,0,0.5);
  margin-bottom: var(--section-gap);
} */

.section-2 {
  background-image: url("../images/building2.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  box-shadow:
    inset 0 -22px 22px -16px rgba(0, 0, 0, 0.5),
    inset 0 22px 22px -16px rgba(0, 0, 0, 0.5);
  height: var(--height-section-2);
  position: relative;
}

.section-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 35, 100, 0.5);
}

.section-2 .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 100%;
  height: 100%;
}

.stat {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 17rem;
}

.stat-icon {
  width: 6rem;
  filter: brightness(0) invert(1);
  margin-bottom: 1rem;
  transition: all 500ms ease;
}

.stat-number {
  font-size: 1.7rem;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  transition: all 500ms ease;
}

.stat-text {
  font-weight: 200;
  font-size: 1.5rem;
  transition: all 500ms ease;
}

.stat:hover .stat-icon {
  transform: translateY(-10px);
}

.stat:hover .stat-number {
  font-size: 2rem;
}

.stat:hover .stat-text {
  font-size: 1.7rem;
}

/********* section 3 *********/

.section-3 {
  padding-top: 5rem
}

.section-3 img {
  width: 70%;
  padding-top: 4rem;
}

.how-to-work-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 4rem;
}

.title-how-to-work {
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  color: var(--primary-color);
  padding: 16px 0;
  width: 100%;
}

.description-how-to-work {
  color: #27304bb5;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 40px;
  padding-top: 10px;
}

.highlight-text {
  color: var(--primary-color);
  font-weight: 600;
}

.items-col {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  margin-top: 100px;
}

.information-item {
  width: 90%;
}

.information-title {
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  background-color: #4c76a64f;
  color: #223262;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
  font-family: 'Source Sans Pro', sans-serif;
  align-items: center;
  display: flex;
}

.text-information {
  margin-bottom: 15px;
}

#content-members li {
  font-weight: 600;
  font-size: 17;
}

.information-container {
  padding: 30px 20px;
}

.information-title .bi {
  margin-left: auto;
  font-weight: 700;
  transition: transform 300ms ease-in-out;
}

.information-item.active>.information-title .bi {
  transform: rotate(90deg);
}

.information-item.active>.information-title {
  background-color: var(--primary-color);
  color: white;
}

.information-content {
  overflow: hidden;
  height: 0;
  transition: height 800ms ease;
  font-family: 'Raleway', sans-serif;
  color: #27304bb5;
}

.info-blocks {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 15px;
}

#content-comm .row {
  margin-top: 10px;
}

#discord-comm {
  background-color: #8103ea21;
  width: 33%
}

#drive-comm {
  background-color: #ea020221;
  width: 33%
}

#messenger-comm {
  background-color: #077fff21;
  width: 33%
}

#active-presentation {
  background-color: #407bb97d;
  width: 45%;
}

#passive-presentation {
  background-color: #75949d5c;
  width: 45%;
}

.info-block {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 33%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.04);
}

.info-block h4 {
  font-size: 1.1rem;
}

.info-block ul {
  font-size: 12;
  padding-left: 10;
}

.portfolio-block {
  padding: 15px;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.04);
  background-color: #15ea0321;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease, width 800ms ease, height 800ms ease;
  ;
}

.portfolio-block-front {
  flex-direction: column;
  display: flex;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(0deg);
}

.portfolio-block-back {
  position: absolute;
  height: 260px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-block.flipped {
  transform: rotateY(180deg);
}

.portfolio-block i {
  font-size: 1.1rem;
}

.portfolio-block h4 {
  font-size: 1.1rem;
  margin-top: 10px;
}


.portfolio-block ul {
  font-size: 12;
  padding-left: 10;
}

.picture-portfolio-container {
  border-radius: 10px;
  background-image: url("../images/portfolio.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 2;
  box-shadow: inset 0 0 23px rgba(0, 0, 0, 0.2);
  width: 85%;
  height: 90%;
}

#content-portfolio .information-container {
  display: flex;
  justify-content: center;
  height: fit-content;
}

.excel-button {
  padding: 5px;
  background-color: #0f6a07;
  border-radius: 5px;
  width: fit-content;
  color: white;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.04);
  position: absolute;
  right: 0;
  transition: all 700ms cubic-bezier(.23, 1, 0.32, 1);
  cursor: pointer;
  z-index: 3;
  top: 0;
}

.excel-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.excel-button:active {
  box-shadow: none;
  transform: translateY(0);
}


/********* section 4 *********/

.section-4 {
  padding-top: 7rem;
  padding-bottom: 10rem;
  position: relative;
}

.contact-us-col {
  position: relative;
}

.description-contact-us {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 40px;
  padding-top: 10px;
  color: black;
  width: 90%;
}

.team-picture-container {
  height: auto;
  position: absolute;
  top: 40px;
  z-index: -1;
  clip-path: ellipse(100% 77% at 89% 76%);
  box-shadow: 10px 10px 0px 0px var(--primary-color);
}

.team-picture-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-80deg, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 1));
}

.team-picture {
  clip-path: ellipse(100% 77% at 89% 76%);
}

.team-picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-30deg, rgba(8, 35, 100, 0.5) 5%, rgba(255, 255, 255, 1));
}

.form-col {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}

.contact-us-card {
  border: 2px solid var(--primary-color);
  padding: 3rem 3rem;
  width: 80%;
  box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: #FFFFFF;

}

.personal-information-section {
  margin-bottom: 2rem;
}

.row-name {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.col-name {
  flex: 1 0 100px;
}

.form-underline {
  border: none;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px;
  width: 100%;
  background: transparent;
  transition: all .25s ease;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
}

.form-underline:focus {
  outline: none;
  border-bottom: 1.2px solid var(--primary-color);
  ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
}

textarea {
  resize: none;
}

.background-grid {
  left: -5%;
  width: 40%;
  bottom: -5%;
  height: 60%;
  z-index: -1;
  position: absolute;
  background-color: #FFFFFF;
  background-color: #FFFFFF;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='299' height='299' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%235CB3FF' stroke-width='2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23124882'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
}

.send-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

/* SEND BUTTON */
.button-send {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #336fa4 0%, var(--primary-color) 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.button-send:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.button-send:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button-send span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.button-send svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.button-send .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.button-send:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.button-send:hover svg {
  transform: rotate(45deg);
}

/********* footer *********/

footer {
  background-color: var(--primary-color);
  height: 25rem;
  box-shadow: inset 0 22px 22px -16px rgba(0, 0, 0, 0.5);
  color: white;
  display: block;
  font-family: 'Varela', sans-serif;
}

footer .site-width {
  height: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

.logo-col {
  width: 50%;
  padding-left: 2rem;
  display: flex;
  flex-direction: row
}

.general-info {
  margin-left: auto
}

.logo-container {
  width: 300px;
  height: auto;
}

.logo-container svg {
  fill: white;
}

.info-col {
  width: 40%;
  margin-left: auto;
  display: flex;
}

.socials {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.social-entry {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer
}

.copy-text {
  margin-top: auto;
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
  color: #cecece;
}