@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
@import url('https://fonts.cdnfonts.com/css/finance');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=PT+Sans:ital,wght@0,700;1,400&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Raleway:wght@400;500&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Source+Sans+Pro:wght@600&display=swap');
* {
  box-sizing: border-box;
}

body{
    background-color: white
}

/* header,
section {
  overflow-x: hidden;
} */

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --light-blue:#2681e9;
  --dark-blue: #1b3cbf;
  --bggradient: linear-gradient(to bottom, var(--light-blue), var(--dark-blue));
  --light-gray: rgba(255, 255, 255, 0.877);
  --section-gap:7rem;
  --height-nav-header:31rem;
  --height-navbar:5rem;
  --height-section-2:20rem
}

.site-width{
  width: 76%;
}

/********* incoming animation *********/

.hidden{
  visibility: hidden !important;
}

.left-in{
  animation-name: slideInLeft;
  animation-duration: 1.5s;
}

.right-in{
  animation-name: slideInRight;
  animation-duration: 1.5s;
}

.up-in{
  animation-name: slideInUp;
  animation-duration: 1.5s;
}

.down-in{
  animation-name: slideInDown;
  animation-duration: 1.5s;
}

@keyframes slideInLeft{
  from{
    opacity: 0;
    transform: translate3d(-100%,0,0);
  }
  to{
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInRight{
  from{
    opacity: 0;
    transform: translate3d(100%,0,0);
  }
  to{
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInUp{
  from{
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
  to{
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInDown{
  from{
    opacity: 0;
    transform: translate3d(0,-100%,0);
  }
  to{
    opacity: 1;
    transform: none;
  }
}


/********* header *********/

header {
  position: relative;
}

.navbar-brand{
  color: white;
  text-shadow: 1px 1px 2px rgb(68, 68, 68);
}

.navbar-background{
  background-color: var(--light-blue);
  z-index: 1;
}


nav a {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    color: whitesmoke;
}

nav a:hover{
    color: whitesmoke;
}

nav .navbar-place-holder{
  height: var(--height-navbar);
}

nav .navbar{
  padding: 0.5rem 0rem;
  z-index: 6;
  width: 100%;
  height: var(--height-navbar);
  top:0;
  position: absolute;
}

nav .nav-item:last-child {
  padding-right: 10.5rem;
}

nav .nav-item {
  padding: 0.9em;
}

nav .navbar-brand {
  padding-left: 10.4rem;
}

.nav-header-background{
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.nav-header-background .blue-filter{
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  bottom:0;
  background: rgba(8, 35, 100, 0.5);
  /*clip-path: ellipse(100% 106% at 0% 100% );*/
}

.nav-header-background .city-image{
  background-image: url(../images/building.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.nav-header{
  width: 100%;
  position: relative;
  height: var(--height-nav-header);
  z-index: 2;
  box-shadow: inset 0 -10px 10px -2px rgba(0,0,0,0.5);
}

.nav-header .col-header{
  height: 100%;
  padding: 3.2rem 0rem;
  padding-bottom: 2rem;
  align-items: self-start;
  display: flex;
  flex-direction: column;
}

.header-info{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cut-out{
  position: absolute;
  clip-path: ellipse(100% 100% at 100% 100%);
  width: 100%;
  height: 100%;
  right: 0;
  bottom:0;
  background: rgba(8, 48, 100, 0.69);
}

.buttons-container{
  align-content: center;
  z-index: 4;
  margin-top: 5.5rem;
  display:flex;
}

.nav-header .container-fluid .col-header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  padding: 0.1em 0.2em;
  font-size: 43px;
}

.nav-header .container-fluid .col-header p {
  font-family: 'Open Sans', sans-serif;
  padding: 1rem 0.4rem;
  font-size: large;
  text-align: left;
  color: #ececec;
  width: 950px;
  border-radius: 10px;
}


.header-button-learn{
  font-size: 15px;
  font-weight: 600;
  padding: 16px 24px;
  margin-top:1rem;
  margin-bottom: 1rem;
  margin-left: 35px;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 700ms cubic-bezier(.23, 1, 0.32, 1);
}

.header-button-learn:hover{
  color: #021135;
  text-shadow: rgba(0, 0, 0, 0.5) 0 8px 15px;
  transform: translateY(-2px);
  
}

.header-button-learn:active {
  color: white;
  text-shadow: none;
  transform: translateY(0);
}

.header-button-contact{
  background-color: #0c4a8c;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  padding: 16px 24px;
  touch-action: manipulation;
  font-family: 'Heebo', sans-serif;
  margin-top:1rem;
  margin-bottom: 1rem;
  margin-left: 35px;
  border: 2px solid #3b6da4;
  border-radius: 5px;
  transition: all 700ms cubic-bezier(.23, 1, 0.32, 1);
}

.header-button-contact:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.header-button-contact:active {
  box-shadow: none;
  transform: translateY(0);
}

/* underline animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}
  
.hover-underline-animation:after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: white;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
transform: scaleX(1);
transform-origin: bottom left;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  background: rgb(9, 50, 113);
  z-index: 9999;
  transition: all 0.5s ease;
}

/********* section 1 *********/

.section-1 {
  margin: var(--section-gap) 0vmin;
}

.section-1 .container-fluid{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:5rem;
  padding: 2rem 0rem;
}

.feature-card{
  background-color: #0796ff1a;
  box-shadow: 15px 15px 0px #5cb3ff14;
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 1rem;
  gap: 1rem;
  transition: box-shadow 300ms ease, transform 300ms ease;
}

.feature-card:hover{
  box-shadow: 30px 30px 0px #5cb3ff14;
  transform: translateY(-10px);
}

.feature-icon{
  width: 4rem;
  filter: hue-rotate(344deg);
}

.feature-title{
  font-size: 18px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #36588ced;
}

.feature-description{
  font-size: 15px;
  color: #27304bb5;
  height: 15rem;
}

/********* section 2 *********/

/* .section-2{
  background-color: #1f65ac;
  box-shadow: 
    inset 0 -22px 22px -16px rgba(0,0,0,0.5), 
    inset 0 22px 22px -16px rgba(0,0,0,0.5);
  margin-bottom: var(--section-gap);
} */

.section-2{
  background-image: url("../images/building2.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  box-shadow: 
  inset 0 -22px 22px -16px rgba(0,0,0,0.5), 
  inset 0 22px 22px -16px rgba(0,0,0,0.5);
  height: var(--height-section-2);
  position: relative;
}

.section-2::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(8, 35, 100, 0.5);
}

.section-2 .container-fluid{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 100%;
  height: 100%;
} 

.stat{
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 17rem;
}

.stat-icon{
  width: 6rem;
  filter: brightness(0) invert(1);
  margin-bottom: 1rem;
  transition: all 500ms ease;
}

.stat-number{
  font-size: 1.7rem;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  transition: all 500ms ease;
}

.stat-text{
  font-weight: 200;
  font-size: 1.5rem;
  transition: all 500ms ease;
}

.stat:hover .stat-icon{
  transform: translateY(-10px);
}

.stat:hover .stat-number{
  font-size: 2rem;
}

.stat:hover .stat-text{
  font-size: 1.7rem;
}

/********* section 3 *********/

.section-3{
  height: 45rem;
}

.section-3 img{
  width: 100%;
}

.container-fluid .row{
  height: 100%;
}

.how-to-work-col{
  display: flex;
  flex-direction: column;
  justify-content: flex-end

}

.items-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-3 .container {
  display: flex;
  flex-direction: column;
}

.information-title {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.information-item.active > .information-title{
  background-color: lightgray;
}

.information-content {
  overflow: hidden;
  height: 0;
  transition: height 500ms ease;
}
/********* section 4 *********/

.section-4{
  height: 20rem;
}

