{% extends 'admin/master.html' %} {% block body %}
<h3>Scheduled Jobs</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Job ID</th>
      <th>Next Run Time</th>
      <th>Trigger</th>
      <th>Function</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
    <tr>
      <td>{{ job.id }}</td>
      <td>{{ job.next_run_time }}</td>
      <td>{{ job.trigger }}</td>
      <td>{{ job.name }}</td>
    </tr>
    {% else %}
    <tr>
      <td colspan="4">No scheduled jobs.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
