{% extends "base.html" %} 
{% from "contact-us-form.html" import contact_card %}
{% block additional_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %} {% block header %}
<div class="header-background">
  <div class="blue-filter"></div>
  <div class="city-image"></div>
</div>
<div class="nav-header-info">
  <div class="container-fluid header-info-responsive">
    <div class="col-header site-width text-white">
      <h1>Building wealth, friendship and futures together</h1>
      <p class="d-none d-sm-block">
        Our young investment fund, based in Antwerp, is focused on collective
        wealth growth by exploiting diverse profiles with a passion for finance.
        Founded in 2021 by a group of friends, the fund provides a supportive
        environment for its investors to network, learn and explore investment
        opportunities.
      </p>
      <p class="d-block d-sm-none">
        An investment fund with young minds, learning and growing together.
      </p>
      <div class="buttons-container">
        <a href="#home/contact-us">
          <button class="primary-button">Contact us</button>
        </a>
        <a href="{{ url_for('main.about')}}">
          <button class="text-button">
            Learn more
            <i class="bi bi-chevron-right"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block app_content %}

<main>
  <section class="section-1">
    <div class="container-fluid site-width hidden">
      <div class="feature-card">
        <div class="feature-card-content">
          <img
            src="../static/images/logos/learning-blue.png"
            class="feature-icon" />
          <div class="feature-title">Learning</div>
          <p class="description">
            We're committed to providing our members with an exceptional
            learning experience.
          </p>
        </div>
      </div>
      <div class="feature-card">
        <div class="feature-card-content">
          <img
            src="../static/images/logos/networking-blue.png"
            class="feature-icon" />
          <div class="feature-title">Networking</div>
          <p class="description">
            Experience an environment where you can connect with exceptional
            bright and intellectual minds.
          </p>
        </div>
      </div>
      <div class="feature-card">
        <div class="feature-card-content">
          <img
            src="../static/images/logos/profit-hand-blue.png"
            class="feature-icon" />
          <div class="feature-title">Profit</div>
          <p class="description">
            By staying vigilant to emerging trends we strive to construct a
            portfolio that consistently outperformst the market.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-2">
    <div class="text-white container-fluid hidden">
      <div class="stat">
        <img src="../static/images/logos/buildings.png" class="stat-icon" />
        <div class="stat-number">4</div>
        <div class="stat-text">cities</div>
      </div>
      <div class="stat">
        <img src="../static/images/logos/co-founder.png" class="stat-icon" />
        <div class="stat-number">2021</div>
        <div class="stat-text">founded</div>
      </div>
      <div class="stat">
        <img src="../static/images/logos/group.png" class="stat-icon" />
        <div class="stat-number">18</div>
        <div class="stat-text">members</div>
      </div>
      <div class="stat">
        <img src="../static/images/logos/bar-chart.png" class="stat-icon" />
        <div class="stat-number">70 +</div>
        <div class="stat-text">trades</div>
      </div>
    </div>
  </section>
  <section class="section-3">
    <div class="container-fluid site-width">
      <div class="row">
        <div class="col-lg-6 col-12 how-to-work-col hidden">
          <h2 class="title-subsection">How do we work?</h2>
          <p class="description justify">
            To ensure seamless operations within our investment fund, we have
            implemented a series of measures. Firstly, we distinguish our
            <span id="members" class="highlight-text">members</span> based on
            their level of commitment and willingness to participate in
            discussions. Accordingly, we provide tailored types of
            <span id="presentations" class="highlight-text">meetings</span>. In
            addition to the meetings, we utilize various
            <span id="communication" class="highlight-text">communication</span>
            platforms. Lastly, we provide weekly updates to our
            <span id="porftolio" class="highlight-text">portfolio</span> to keep
            our members informed and enable them to track their investment
            progress.
          </p>
          <img
            src="../static/images/working.svg"
            alt="Illustration description"
            class="d-none d-lg-block" />
        </div>
        <div class="col-lg-6 col-12 items-col hidden">
          <div class="information-item" id="members">
            <div class="information-title">
              Members
              <i class="bi bi-chevron-right"></i>
            </div>
            <div class="information-content description" id="content-members">
              <div class="information-container">
                <p class="text-information">
                  We categorize our fund into two distinct types of members,
                  <strong>passive</strong>
                  and
                  <strong>active</strong>.
                </p>
                <p class="text-information">
                  <strong>Passive members</strong> are not obligated to
                  participate in the partnership and have the flexibility to
                  learn at their own pace. However, this designation also
                  results in a relatively reduced influence on the investing
                  strategy.
                </p>
                <p class="text-information">
                  <strong>Active members</strong> are highly engaged in the
                  markets and engage in daily discussions on positions and
                  market developments. As an active member, you are expected to
                  vote on new positions, which requires a level of commitment
                  and contribution.
                </p>
                <p class="text-information">
                  It is important to note that members have the flexibility to
                  switch between these roles based on their interests and
                  preferences, if the requirements are met.
                </p>
              </div>
            </div>
          </div>
          <div class="information-item" id="presentations">
            <div class="information-title">
              Meetings
              <i class="bi bi-chevron-right"></i>
            </div>
            <div
              class="information-content description"
              id="content-presentations">
              <div class="information-container">
                <p class="text-information">
                  Like our members, we divide our meetings into two types.
                </p>
                <p class="text-information">
                  <strong>Investor meetings</strong> are led by the board or
                  active members and prioritize learning. They offer interactive
                  sessions, covering macroeconomic developments and in-depth
                  presentations on relevant topics. These sessions also include
                  a review of the fund's portfolio, allowing members to gain
                  valuable insights.
                </p>
                <p class="text-information">
                  <strong>Active meetings</strong> offer a more relaxed and less
                  structured setting. Market movements and new investment
                  opportunities are discussed, providing a platform for members
                  to share their ideas and receive feedback.
                </p>
              </div>
            </div>
          </div>
          <div class="information-item" id="comm">
            <div class="information-title">
              Communication
              <i class="bi bi-chevron-right"></i>
            </div>
            <div class="information-content description">
              <div class="information-container">
                <p class="text-information">
                  <strong>Discord <i class="bi bi-discord"></i></strong> is our
                  primary communication tool, it serves as the hub for daily
                  updates and interactions. Members can expect daily briefings
                  on macroeconomics, technical analyses, trades, portfolio
                  updates and learning resources, along with participation in
                  our online meetings.
                </p>
                <p class="text-information">
                  <strong>WhatsApp <i class="bi bi-whatsapp"></i></strong>
                  complements our communication strategy by alerting members to
                  upcoming presentations and events. This platform ensures
                  timely notifications so everyone can seamlessly participate in
                  all our club activities.
                </p>
              </div>
            </div>
          </div>
          <div class="information-item" id="portfolio">
            <div class="information-title">
              Portfolio
              <i class="bi bi-chevron-right"></i>
            </div>
            <div class="information-content description" id="content-portfolio">
              <div class="information-container">
                <p class="text-information">
                  Explore our weekly portfolio updates, where we transparently
                  present our current holdings, profit figures for each
                  position, and in-depth analysis of performance. Gain valuable
                  insights with comparisons to most popular benchmarks, ensuring
                  you stay informed and confident in our investment journey.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-4" id="home/contact-us">
    <div class="container-fluid site-width">
      <div class="row">
        <div class="col-lg-5 col-12 form-col hidden">
          <div class="contact-us-card">
            {{ contact_card(form) }}
          </div>
        </div>
        <div class="col-lg-7 col-12 hidden contact-us-col">
          <h2 class="title-subsection">Contact us</h2>
          <div class="description">
            To join our investment fund, get more information, or explore
            collaborating with us, please reach out to us using the provided
            form. We look forward to hearing from you in the future.
          </div>
          <div class="team-picture-container d-none d-lg-block">
            <div class="picture-team"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="position-relative h-100">
        <div class="mask"></div>
        <div class="background-grid"></div>
      </div>
    </div>
  </section>
</main>
{% endblock %} {% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='js/helpers/contact-form.js') }}"></script>
<script src="{{ url_for('static', filename='js/helpers/home.js') }}"></script>
{% endblock extra_scripts %}
