{% extends "base.html" %}

{% block app_content %}
<div class="nav-header">
    <div class="container-fluid text-center header-info">
      <div class="row site-width text-white">
        <div class="col-md-8 col-sm-12 ">
          <h1>Building wealth, friendship and futures together</h1>
          <p>
            Our young investment club, based in Leuven and Antwerp, is focused on collective 
            wealth growth by exploiting diverse profiles with a passion for 
            finance. Founded in 2021 by a group of friends, the club provides a 
            supportive environment for its members to network, learn and explore 
            investment opportunities.
          </p>
          <div class="row">
            <div class="header-button contact">CONTACT US</div> 
            <div class="header-button learn-more">LEARN MORE</div>              
          </div>
        </div>
      </div>
      <div class="Leuven-image">
        <div class="cut-out">
          <img src="../static/images/Leuven.jpg"/>
        </div>
        <div class="blue-filter"></div>
      </div>
      </div>
    </div>
</div>

<main>
<section class="section-2">
    <div class="container-fluid site-width">
        <div class="feature-card">
            <div class="feature-symbol">
                <img src="../static/images/presentation.png" class="icon-bullet-point"/>
            </div>
            <div class="feature-title">
                Learning
            </div>
            <div class="feature-description">
                We're committed to providing our members with an 
                exceptional learning experience. Through presentations and 
                discussions members can expand their knowledge of macroeconomics, 
                fundamental and technical analyses, and gain insight into a variety 
                of industries. We firmly believe that ongoing education and learning are essential 
                for successful investing.
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-symbol">
                <img src="../static/images/networking.png" class="icon-bullet-point"/>
            </div>
            <div class="feature-title">
                Networking
            </div>
            <div class="feature-description">
                Our members comprises with diverse backgrounds in 
                engineering, medicine, and various sectors such as consulting, 
                finance, pharma and AI. This diversity in expertise 
                provides a wide range of perspectives necessary for financial 
                market analysis and supports the creation of a like-minded and 
                supportive investing network.
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-symbol">
                <img src="../static/images/money.png" class="icon-bullet-point"/>
            </div>
            <div class="feature-title">
                Profit
            </div>
            <div class="feature-description">
                Our investment club focuses on utilizing the collective knowledge 
                of our members to build a strong portfolio that outperforms the 
                market. We aim to attract investors and build a fund that 
                generates profits through strategic investments in financial 
                instruments.
            </div>
        </div>
    </div>
</section>
<section class="section-1">
    <div class="container-fluid text-center site-width">
        <div class="row">
            <div class="col-md-8 col-12">
            <div class="panel text-left">
                <h1>What do we offer?</h1>
                <p class="pt-4">
                    FCF Invest is een beleggingsgroep opgericht door studenten 
                    en pas afgestudeerden met een interesse in beleggen en 
                    economie. Wekelijks komen de groepsleden online of fysiek 
                    samen om de financiële markten te bediscussiëren en 
                    doormiddel van samenspraak en engagement van elkaar te 
                    leren met als doel de markt te verslaan.
                </p>
                <p>
                    Op een vergadering stelt men aandelen voor, bespreekt men 
                    het macro-economisch klimaat, voert men fundamentele en 
                    technische analyse uit en ontwikkelt men continue de 
                    strategie van de maatschap. Het primaire doel van 
                    FCF Invest is een fonds uitbouwen dat doormiddel van het 
                    investeren in financiële instrumenten het kapitaal van 
                    leden en investeerders doet renderen. Er wordt gebruik van 
                    verschillende effecten zoals aandelen, CFD’s, futures, 
                    obligaties, enzovoort. Er wordt gespeeld zowel aan de long 
                    als short side op zowel de korte en lange termijn.
                </p>
                <p>
                    De diverse academische en professionele achtergrond van de 
                    leden van FCF Invest zorgen voor een waaier aan 
                    perspectieven en opinies, broodnodig voor het analyseren 
                    van de financiële markten. Het merendeel heeft als 
                    achtergrond burgerlijk ingenieur in verschillende 
                    specialisaties, maar men vindt ook handelsingenieurs, 
                    industrieel ingenieurs, bio ingenieurs en geneeskunde 
                    studenten onder de leden. Velen zijn ook al professioneel 
                    actief in sectoren zoals consultancy (Bain & Company, 
                    Seven Beaufort, ... ), finance (KBC, PWC, ... ), pharma 
                    (J&J) en AI startups (Relu). Het secundaire doel is een 
                    uitgebreid netwerk creëren van gelijkgestemden die elkaar 
                    vooruithelpen binnen en buiten het kader van het beleggen.
                </p>
            </div>
            </div>
            <div class="col-md-4 col-12">
            <!-- <div class="pray">
                <img src="../static/images/Leuven.jpg" alt="Pray" class=""/>
            </div> -->
            <div class="bullet-points-container">
                <div class="bullet-point-learning">
                <div class="bullet-point">
                    <img src="../static/images/presentation.png" class="icon-bullet-point"/>
                    <div class="bullet-point-text">
                    Learning                    
                    </div>
                </div>
                </div>
                <div class="bullet-point-networking">
                <div class="bullet-point">
                    <div class="bullet-point-text">
                    Networking                    
                    </div>
                    <img src="../static/images/networking.png" class="icon-bullet-point"/>
                </div>  
                </div>
                <div class="bullet-point-profit">
                <div class="bullet-point">
                    <img src="../static/images/money.png" class="icon-bullet-point"/>
                    <div class="bullet-point-text">
                    Profit                    
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
</section>
</main>
{% endblock %}