{% extends "base.html" %}

{% block header %}
<div class="nav-header-background">
    <div class="blue-filter"></div>
    <div class="city-image"></div>
</div>
<div class="nav-header">
    <div class="container-fluid text-center header-info">
        <div class="col-header site-width text-white">
            <h1 class="left-in">Building wealth, friendship and futures together</h1>
            <p class="right-in">
                Our young investment club, based in Leuven and Antwerp, is focused on collective 
                wealth growth by exploiting diverse profiles with a passion for 
                finance. Founded in 2021 by a group of friends, the club provides a 
                supportive environment for its members to network, learn and explore 
                investment opportunities.
            </p>
            <div class="buttons-container left-in">
                <div class="header-button-contact">CONTACT US</div> 
                <div class="header-button-learn ">
                    LEARN MORE 
                    <i class="bi bi-caret-right-in-fill"></i>
                </div>              
            </div>
        </div>
    </div>
</div> 

{% endblock %}

{% block app_content %}


<main>
<section class="section-1">
    <div class="container-fluid site-width left-in">
        <div class="feature-card">
            <img src="../static/images/learning-blue.png" class="feature-icon"/>
            <div class="feature-title">
                Learning
            </div>
            <div class="feature-description">
                We're committed to providing our members with an 
                exceptional learning experience. Through presentations and 
                discussions members can expand their knowledge of macroeconomics, 
                fundamental and technical analyses, and gain insight into a variety 
                of industries. We firmly believe that ongoing education and learning are essential 
                for successful investing.
            </div>
        </div>
        <div class="feature-card">
            <img src="../static/images/networking-blue.png" class="feature-icon"/>                
            <div class="feature-title">
                Networking
            </div>
            <div class="feature-description">
                Our members comprises with diverse backgrounds in 
                engineering, medicine, and various sectors such as consulting, 
                finance, pharma and AI. This diversity in expertise 
                provides a wide range of perspectives necessary for financial 
                market analysis and supports the creation of a like-minded and 
                supportive investing network.
            </div>
        </div>
        <div class="feature-card">
            <img src="../static/images/profit-blue.png" class="feature-icon"/>
            <div class="feature-title">
                Profit
            </div>
            <div class="feature-description">
                Our investment club focuses on utilizing the collective knowledge 
                of our members to build a strong portfolio that outperforms the 
                market. We aim to attract investors and build a fund that 
                generates profits through strategic investments in financial 
                instruments.
            </div>
        </div>
    </div>
</section>
<section class="section-2">
    <div class="text-white container-fluid hidden">
        <div class="stat">
            <img src="../static/images/buildings.png" class="stat-icon"/>
            <div class="stat-number">
                2
            </div>
            <div class="stat-text">
                cities
            </div>
        </div>
        <div class="stat">
            <img src="../static/images/group.png" class="stat-icon"/>
            <div class="stat-number">
                11
            </div>
            <div class="stat-text">
                members
            </div>
        </div>
        <div class="stat">
            <img src="../static/images/money.png" class="stat-icon"/>
            <div class="stat-number">
                €10.000 +
            </div>
            <div class="stat-text">
                capital
            </div>
        </div>
        <div class="stat">
            <img src="../static/images/presentation.png" class="stat-icon"/>
            <div class="stat-number">
                20 +
            </div>
            <div class="stat-text">
                presentations given
            </div>
        </div>
    </div>
</section>
<section class="section-3">
    <div class="container-fluid site-width">
        <div class="row">
            <div class="col-md-6 col-12 how-to-work-col">
                <div>
                    How do we work?
                </div>
                <div>
                    To ensure seamless operations within our investment club, 
                    we have implemented a series of measures. Firstly, we 
                    distinguish our members based on their level of 
                    commitment and willingness to participate in discussions. 
                    Accordingly, we provide tailored types of presentations on 
                    a weekly rotating basis. In addition to the presentations, 
                    we utilize Discord as our primary communication platform, 
                    with support from Messenger, Drive, and email. 
                    This enables effective communication and collaboration 
                    among our members.
                </div>
                <img src="../static/images/working.svg" alt="Illustration description">   
            </div>
            <div class="col-sm-6 col-12">                
            </div>
        </div>
    </div>
</section>
</main>
{% endblock %}