{% extends "base.html" %}

{% block header %}
<div class="nav-header-background">
    <div class="blue-filter"></div>
    <div class="city-image"></div>
</div>
<div class="nav-header">
    <div class="container-fluid text-center header-info">
        <div class="col-header site-width text-white">
            <h1 class="left-in">Building wealth, friendship and futures together</h1>
            <p class="right-in">
                Our young investment club, based in Leuven and Antwerp, is focused on collective 
                wealth growth by exploiting diverse profiles with a passion for 
                finance. Founded in 2021 by a group of friends, the club provides a 
                supportive environment for its members to network, learn and explore 
                investment opportunities.
            </p>
            <div class="buttons-container left-in">
                <div class="header-button-contact">CONTACT US</div> 
                <div class="header-button-learn ">
                    LEARN MORE 
                    <i class="bi bi-arrow-right-short"></i>
                </div>              
            </div>
        </div>
    </div>
</div> 

{% endblock %}

{% block app_content %}


<main>
<section class="section-1">
    <div class="container-fluid site-width left-in">
        <div class="feature-card">
            <img src="../static/images/learning-blue.png" class="feature-icon"/>
            <div class="feature-title">
                Learning
            </div>
            <div class="feature-description">
                We're committed to providing our members with an 
                exceptional learning experience. Through presentations and 
                discussions members can expand their knowledge of macroeconomics, 
                fundamental and technical analyses, and gain insight into a variety 
                of industries. We firmly believe that ongoing education and learning are essential 
                for successful investing.
            </div>
        </div>
        <div class="feature-card">
            <img src="../static/images/networking-blue.png" class="feature-icon"/>                
            <div class="feature-title">
                Networking
            </div>
            <div class="feature-description">
                Our members comprises with diverse backgrounds in 
                engineering, medicine, and various sectors such as consulting, 
                finance, pharma and AI. This diversity in expertise 
                provides a wide range of perspectives necessary for financial 
                market analysis and supports the creation of a like-minded and 
                supportive investing network.
            </div>
        </div>
        <div class="feature-card">
            <img src="../static/images/profit-blue.png" class="feature-icon"/>
            <div class="feature-title">
                Profit
            </div>
            <div class="feature-description">
                Our investment club focuses on utilizing the collective knowledge 
                of our members to build a strong portfolio that outperforms the 
                market. We aim to attract investors and build a fund that 
                generates profits through strategic investments in financial 
                instruments.
            </div>
        </div>
    </div>
</section>
<section class="section-2">
    <div class="text-white container-fluid hidden">
        <div class="stat">
            <img src="../static/images/buildings.png" class="stat-icon"/>
            <div class="stat-number">
                2
            </div>
            <div class="stat-text">
                cities
            </div>
        </div>
        <div class="stat">
            <img src="../static/images/group.png" class="stat-icon"/>
            <div class="stat-number">
                11
            </div>
            <div class="stat-text">
                members
            </div>
        </div>
        <div class="stat">
            <img src="../static/images/money.png" class="stat-icon"/>
            <div class="stat-number">
                €10.000 +
            </div>
            <div class="stat-text">
                capital
            </div>
        </div>
        <div class="stat">
            <img src="../static/images/presentation.png" class="stat-icon"/>
            <div class="stat-number">
                20 +
            </div>
            <div class="stat-text">
                presentations given
            </div>
        </div>
    </div>
</section>
<section class="section-3">
    <div class="container-fluid site-width">
        <div class="row">
            <div class="col-md-6 col-12 how-to-work-col hidden">
                <div class="title-how-to-work">
                    How do we work?
                </div>
                <div class="description-how-to-work">
                    To ensure seamless operations within our investment club, 
                    we have implemented a series of measures. Firstly, we 
                    distinguish our <span id="members" class="highlight-text">members</span> based on their level of 
                    commitment and willingness to participate in discussions. 
                    Accordingly, we provide tailored types of <span id="presentations" class="highlight-text">presentations</span> on 
                    a weekly rotating basis. In addition to the presentations, 
                    we utilize Discord as our primary <span id="communication" class="highlight-text">communication</span> platform, 
                    with support from Messenger, Drive, and email. This enables effective communication and collaboration 
                    among our members. Lastly, we provide weekly updates to our <span id="porftolio" class="highlight-text">portfolio</span> to keep our members informed and enable them
                    to track their investment progress.
                </div>
                <img src="../static/images/working.svg" alt="Illustration description">   
            </div>
            <div class="col-md-6 col-12 items-col hidden"> 
                <div class="information-item">
                    <div class="information-title">
                        Members   
                        <i class="bi bi-chevron-right"></i>                   
                    </div>  
                    <div class="information-content" id="content-members">
                        <div class="text-information-block">
                            <div class="text-information">
                                We categorize our members into two distinct groups:  
                            </div>
                            <ul>
                                <li>passive</li>
                                <li>active</li>
                            </ul>
                            <div class="text-information">
                                Passive members are not obligated to participate in the partnership and have the 
                                flexibility to learn at their own pace. However, this designation also results in a 
                                relatively reduced number of voting rights.                                 
                            </div>
                            <div class="text-information">
                                Active members, on the other hand, are highly engaged in the markets and engage 
                                in daily discussions on positions and market developments. As an active member, 
                                you are expected to vote on new positions, which requires a level of commitment 
                                and contribution. It is important to note that members have the flexibility to 
                                switch between these roles based on their interests and preferences.                                
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="information-item">
                    <div class="information-title">
                        Presentations    
                        <i class="bi bi-chevron-right"></i>               
                    </div>  
                    <div class="information-content" id="content-presentations"> 
                        <div class="text-information-block">
                            <div class="text-information">
                                Our club hosts two different types of presentations: passive meetings and active meetings.
                            </div>
                            <ul>
                                <li>passive</li>
                                <li>active</li>
                            </ul>
                            <div class="text-information">
                                Passive meetings are led by the board or active members and focus on learning. 
                                These interactive sessions begin with an introduction and a summary of macroeconomic 
                                developments, followed by a presentation on a relevant topic, such as a stock or industry 
                                trend. The session then progresses to a review of the club's portfolio, and concludes 
                                with an after-dinner discussion.                              
                            </div>
                            <div class="text-information">
                                Active meetings, on the other hand, are less structured and allow for pitches to be made 
                                for new shares, as well as discussions on the previous week's market movements. 
                                These meetings are geared more towards the active members of the club who are actively 
                                engaged in trading.                              
                            </div>  
                            <div class="text-information">
                                By offering both types of presentations, our investment club ensures that all 
                                members have opportunities to learn and contribute in their own unique ways.                        
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="information-item">
                    <div class="information-title">
                        Communication         
                        <i class="bi bi-chevron-right"></i>           
                    </div>  
                    <div class="information-content">
                        <div class="text-information-block" id="content-comm">
                            <div class="text-information">
                                Three distinct communication methods are utilized, each serving its own specific purpose.
                            </div>
                            <div class="comm-blocks">
                                <div class="comm-block" id="discord-comm">
                                    <i class="bi bi-discord"></i>
                                    <h4>Discord</h4>
                                    <ul>
                                        <li>Primary communication</li>
                                        <li>Daily updates</li>
                                        <ul>
                                            <li>Macroeconomics</li>  
                                            <li>Learning resources</li>
                                        </ul>     
                                        <li>Weekly updates</li> 
                                        <ul> 
                                            <li>Porftolio</li>                                             
                                        </ul>            
                                    </ul>
                                </div>
                                <div class="comm-block" id="drive-comm">
                                    <i class="bi bi-google"></i>
                                    <h4>Drive</h4>
                                    <ul>
                                        <li>Online storage space</li>
                                            <ul>
                                                <li>Excel portfolios </li>  
                                                <li>Presentations</li>
                                            </ul>                                              
                                    </ul>
                                </div>
                                <div class="comm-block" id="messenger-comm">
                                    <i class="bi bi-messenger"></i>
                                    <h4>Messenger</h4>
                                    <ul>
                                        <li>Important messages</li>
                                            <ul>
                                                <li>Agenda of upcoming presentations</li>  
                                                <li>Evenements</li>
                                            </ul>                                              
                                    </ul>
                                </div>
                            </div>                              
                        </div>
                    </div>
                </div> 
                <div class="information-item">
                    <div class="information-title">
                        Portfolio    
                        <i class="bi bi-chevron-right"></i>               
                    </div>  
                    <div class="information-content" id="content-presentations"> 
                        <div class="text-information-block">
                            <div class="portfolio-block">  
                                <div class="title-card">
                                    <i class="bi bi-file-earmark-ruled-fill"></i>
                                    <h4>Our portfolio</h4>
                                </div>
                                <div class="text-information">
                                    In the Excel file, you will find a comprehensive overview of our current portfolio holdings, 
                                    including the corresponding profit figures for each position. Additionally, the file presents 
                                    a detailed analysis of our portfolio's performance over the course of the year, with a 
                                    comparison to the S&P index. There is a wealth of insightful information available in the 
                                    document beyond these key highlights.                      
                                </div>  
                                <i class="bi bi-filetype-xlsx"></i>
                                <!-- <div class="picture-portfolio-container"> -->
                                </div>
                            </div>             
                        </div>
                    </div>
                </div>             
            </div>
        </div>
    </div>
</section>
<section class="section-4"></section>
</main>
{% endblock %}