{% extends "base.html" %}

{% block app_content %}

<!-- new_page.html -->
<html>
<body>
    <div class="leadership-header-background">
        <div class="blue-filter"></div>
        <div class="leadership-image"></div>
        <h1 class="leadership-title">
            Leadership
        </h1>
    </div>

    <div class="leadership-main-body-section">
        <h1 class="board-title">
            Board of Directors
        </h1>

        <div class="row">
            <div class="column">
                <img src="../static/images/profile_default.png">
                <div class="text">
                    <p>Text for the first column goes here. It can be a description or any other content you want to display.</p>
                </div>
            </div>
            
            <div class="vl"></div>

            <div class="column">
                <img src="../static/images/profile_default.png">
                <div class="text">
                    <p>Text for the second column goes here. You can provide details or additional information as needed.</p>
                </div>
            </div>
        </div>


        <hr class="solid">

        <div class="row">
            <div class="column">
                <img src="../static/images/profile_default.png">
                <div class="text">
                    <p>Text for the first column goes here. It can be a description or any other content you want to display.</p>
                </div>
            </div>
            
            <div class="vl"></div>

            <div class="column">
                <img src="../static/images/profile_default.png">
                <div class="text">
                    <p>Text for the second column goes here. You can provide details or additional information as needed.</p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>

{% endblock %}