{% extends "base.html" %}
{% from "leader-card.html" import leader_card %}

{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leadership.css') }}">
{% endblock %}

{% block header %}
<div class="header-background">
    <div class="blue-filter"></div>
    <div class="about-image"></div>
</div>
<div class="header-info">
    <h1 class="header-title center">
        Leadership
    </h1>
</div>
{% endblock %}

{% block app_content %}

<div class="leadership-main-body-section site-width">
    <h2 class="board-title subtitle">
        Board of Directors
    </h2>
    <div class="container-pictures">
        {{ leader_card("Ruben", "Ruben Stabel", "President", "Engineer and Finance", href="https://www.linkedin.com/in/ruben-stabel-42111529b/") }}
        {{ leader_card("Livio", "Livio Luyten", "Vice-President", "Engineer and Finance", href="https://www.linkedin.com/in/livio-luyten-1341b2212/") }}
        {{ leader_card("Jeff", "Jeff Somers", "Treasurer", "Engineer and Tech", href="https://www.linkedin.com/in/jeff-somers-b9667a225/") }}
    </div>

</div>


{% endblock %}