{% extends "base.html" %}
{% block header %}
<div class="about-header-background">
    <div class="blue-filter"></div>
    <div class="about-image"></div>
</div>
<div class="leadership-header-info">
    <h1 class="leadership-title">
        Leadership
    </h1>
</div>
{% endblock %}

{% block app_content %}

<div class="leadership-main-body-section site-width">
    <h1 class="board-title">
        Board of Directors
    </h1>

    <div class="container-pictures">
        <div class="leader-container">
            <div class="image-leader" id="Ruben"></div>
            <div class="leader-description">
                <div class="leader-name">Ruben Stabel</div>
                <div class='leader-function'v>President</div>
                <div class="leader-extras">Ingenieur, Finance</div>
            </div>
            <a href="https://www.linkedin.com/in/ruben-stabel-42111529b/" target="_blank">
                <button class="header-button-contact linked-in-button">
                    <i class="bi bi-linkedin"></i>
                </button>
            </a>
        </div>

        <div class="leader-container">
            <div class="image-leader" id="Livio"></div>
            <div class="leader-description">
                <div class="leader-name">Livio Luyten</div>
                <div class='leader-function'>Vice-President</div>
                <div class="leader-extras">Ingenieur, Finance</div>
            </div>
            <a href="https://www.linkedin.com/in/livio-luyten-1341b2212/" target="_blank">
                <button class="header-button-contact linked-in-button">
                    <i class="bi bi-linkedin"></i>
                </button>
            </a>
        </div>

        <div class="leader-container">
            <div class="image-leader" id="Jeff"></div>
            <div class="leader-description">
                <div class="leader-name">Jeff Somers</div>
                <div class='leader-function'>Treasurer</div>
                <div class="leader-extras">Ingenieur, Tech</div>
            </div>
            <a href="https://www.linkedin.com/in/jeff-somers-b9667a225/" target="_blank">
                <button class="header-button-contact linked-in-button">
                    <i class="bi bi-linkedin"></i>
                </button>
            </a>
        </div>

    </div>

</div>


{% endblock %}