{% extends "base.html" %}

{% block app_content %}

<!-- new_page.html -->
<html>
<body>

    <div class="portfolio-header-background">
        <div class="blue-filter"></div>
        <div class="portfolio-image"></div>
        <h1 class="portfolio-title">
            Portfolio
        </h1>
    </div>


    <!-- Your new page content goes here -->
    <div class="portfolio-main-body-section">
        Access to our current investments is exclusively available to members. 
        <br>
        <a href="../#section-4">
            Contact
        </a>
    </div>

</body>
</html>

{% endblock %}