{% extends "base.html" %} {% block additional_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/profile.css') }}" />
{% endblock %} {% block app_content %}

<div class="profile-main-body-section site-width">
    <div id="profile"></div>
</div>

{% endblock %}{% block extra_scripts %}
<script
  type="text/babel"
  src="{{ url_for('static', filename='js/components/profile.jsx') }}"></script>
<script type="text/babel">
  const rootElement = document.getElementById("profile");
  const root = ReactDOM.createRoot(rootElement);
  const token ="{{token}}"
  const profile = {isAdmin: "{{current_user.is_admin}}"}
  root.render(<Profile.Profile token={token}/>);
</script>
{% endblock extra_scripts %}
